################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MStarGUI/v16
/MStarGUI/obj
/work
/_debug
/_release
/folder_80.png
/folder.png
/lzo/Release
/lzo/lib
/Debug
/lzop/Debug
/lzop/Release
/lzop/lib
/lzo_clr/Debug
/lzo_clr/Release
/Release
